<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous" />
  <script
    type="text/javascript"
    charset="utf8"
    src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  <script
    src="https://kit.fontawesome.com/589ebc73ef.js"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"
    integrity="sha512-XSL8md+KzAg/ysd1EBcvzQx+8keNkzJ1pogDe+bJN9P5/RW+5c5v5d6Am++F6fmnt8wpD22fCaC/MP1M48hRtg=="
    crossorigin="anonymous"></script>
  <title>VKBSTORE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
  <link
    rel="icon"
    href="https://res.cloudinary.com/drvrfmcji/image/upload/v1689326079/logo/z4515583621293_00163928eede855435a233d1321af490_qljezh.jpg"
    type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="styles.css">
<!-- CSS của Slick Carousel -->
<link rel="stylesheet" type="text/css" href="path/to/slick.css"/>

<!-- CSS theme của Slick Carousel (nếu cần) -->
<link rel="stylesheet" type="text/css" href="path/to/slick-theme.css"/>

<!-- JavaScript của Slick Carousel -->
<script src="path/to/slick.min.js"></script>


  <style>
    .header-dark {
      background: url('https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_960_720.jpg')
        #f2f2f2;
      background-size: cover;
      padding-bottom: 80px;
    }

    @media (min-width: 768px) {
      .header-dark {
        padding-bottom: 120px;
      }
    }

    .header-dark .navbar {
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
      color: #fff;
      border-radius: 0;
      box-shadow: none;
      border: none;
    }

    @media (min-width: 768px) {
      .header-dark .navbar {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    }

    .header-dark .navbar .navbar-brand {
      font-weight: bold;
      color: inherit;

    }
    .navbar-brand img{
      border-radius: 10px;
    }
    .header-dark .navbar .navbar-brand:hover {
      color: #f0f0f0;
    }

    .header-dark .navbar .navbar-collapse span {
      margin-top: 5px;
    }

    .header-dark .navbar .navbar-collapse span .login {
      color: #d9d9d9;
      margin-right: 0.5rem;
      text-decoration: none;
    }

    .header-dark .navbar .navbar-collapse span .login:hover {
      color: #fff;
    }

    .header-dark .navbar .navbar-toggler {
      border-color: #747474;
    }

    .header-dark 
    .login-user
    .navbar .navbar-toggler:hover,
    .header-dark .navbar-toggler:focus {
      background: none;
    }

    .header-dark .navbar .navbar-toggler {
      color: #eee;
    }

    .header-dark .navbar .navbar-collapse,
    .header-dark .navbar .form-inline {
      border-color: #636363;
    }

    @media (min-width: 992px) {
      .header-dark .navbar.navbar .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }

    .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
      color: #454739;
    }

    .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus,
    .header-dark .navbar.navbar-dark
    .navbar-end
    .login-user
    .navbar-nav .nav-link:hover {
      color: #59ab6e !important;
      background-color: transparent;
    }

    .header-dark .navbar .navbar-nav > li > .dropdown-menu {
      margin-top: -5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 20px;
    }

    .header-dark .navbar .dropdown-menu .dropdown-item:focus,
    .header-dark .navbar .dropdown-menu .dropdown-item {
      line-height: 2;
      font-size: 14px;
      color: #454739;
     
    }

    .header-dark .navbar .dropdown-menu .dropdown-item:focus,
    .header-dark .navbar .dropdown-menu
    .login-user
    .drodown-item:hover {
      background: #528e68;
     border-radius: 10px;
    }

    .header-dark .navbar .action-button,
    .header-dark .navbar .action-button:active {
      background: #208f8f;
      border-radius: 20px;
      font-size: inherit;
      color: #fff;
      box-shadow: none;
      border: none;
      text-shadow: none;
      padding: 0.5rem 0.8rem;
      transition: background-color 0.25s;
    }

    .header-dark .navbar .action-button:hover {
      background: #269d9d;
    }

    .header-dark .navbar .form-inline label {
      color: #ccc;
    }

    .header-dark .navbar .form-inline .search-field {
      display: inline-block;
      width: 80%;
      background: none;
      border: none;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: #ccc;
      box-shadow: none;
      color: inherit;
      transition: border-bottom-color 0.3s;
    }

    .header-dark .navbar .form-inline .search-field:focus {
      border-bottom: 1px solid #ccc;
    }

    .header-dark .hero {
      margin-top: 60px;
    }

    @media (min-width: 768px) {
      .header-dark .hero {
        margin-top: 20px;
      }
    }

    .header-dark .hero h1 {
      color: #fff;
      font-family: 'Bitter', serif;
      font-size: 40px;
      margin-top: 20px;
      margin-bottom: 80px;
    }

    @media (min-width: 768px) {
      .header-dark .hero h1 {
        margin-bottom: 50px;
        line-height: 1.5;
      }
    }

    .header-dark .hero .embed-responsive iframe {
      background-color: #666;
    }
    .header-small {
  height: 30px; /* Điều chỉnh chiều cao mong muốn */
}
 .card-container-das {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;

} 
@media screen and (max-width: 768px) {
  .card-container-das {
    flex-direction: column;
    align-items: center;
  }
}


/* CSS cho chế độ mobile */
@media (max-width: 767px) {

  .card-container {
    display: flex;
     flex-wrap: wrap; 
     justify-content: center;
    flex-direction: column; 
  justify-content: center;

 
}
.card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.content{
  display: none;
}
.column{
  width: 90vw;
   margin-bottom: 20px;
   margin-top: 10px;
}
}
/* CSS mặc định cho bảng */
#mytable {
  width: 1000px;
}

/* CSS responsive cho kích thước màn hình nhỏ hơn hoặc bằng 768px */
@media screen and (max-width: 768px) {
  #mytable {
    width: 100%;
  }
  
  #mytable th,
  #mytable td {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
    #search-form {
      margin-left: 200px;
      margin-right: 200px;
    }
  }

  /* CSS cho màn hình nhỏ hơn hoặc bằng 600px */
  @media screen and (max-width: 600px) {
    #search-form {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 600px) {
  /* Điều chỉnh giao diện khi độ rộng màn hình nhỏ hơn hoặc bằng 768px */
  .box {
    right: -100px;
  }

.custom-box .field-label {
    display: none;
  }
}



/* CSS responsive khi độ rộng màn hình nhỏ hơn hoặc bằng 768px */
@media screen and (max-width: 768px) {
  .responsive-button.button-create {
    margin-bottom: 10px;
    left: 20px;
    margin-top: -50px;
  }
}

/* CSS responsive cho .responsive-button khi độ rộng màn hình nhỏ hơn hoặc bằng 480px */
@media screen and (max-width: 480px) {
  .responsive-button.button-create {
    margin-bottom: 10px;
    left: 10px;
    margin-top: -50px;
  }
}
/* CSS responsive khi độ rộng màn hình nhỏ hơn hoặc bằng 768px */
@media screen and (max-width: 768px) {
  .responsive-button-category.button-create-category {
    margin-bottom: 20px;
    left: 20px;
    margin-top: 30px;
  }
}

/* CSS responsive cho .responsive-button khi độ rộng màn hình nhỏ hơn hoặc bằng 480px */
@media screen and (max-width: 480px) {
  .responsive-button-category.button-create-category {
    margin-bottom: 20px;
    left: 10px;
    margin-top: 30px;
  }
}
.carousel-inner{
  background-color: silver;
  color: black;
  border-radius: 4px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white;
  color: white;
}
/* CSS responsive cho màn hình nhỏ hơn hoặc bằng 768px */
@media screen and (max-width: 768px) {

  
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
   
  }
  
  form.container {
    margin-top: 5px;
  }
  
  .field-label.is-normal {
    padding-bottom: 5px;
  }
  
  .field.is-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .field.is-horizontal .field-label.is-normal,
  .field.is-horizontal .field-body {
    width: 100%;
  }
  
  .field.is-horizontal .field-body .field.is-narrow {
    margin-bottom: 10px;
  }
  
  .field.is-horizontal .field-body .control {
    width: 100%;
  }
  
  .field.is-horizontal .field-body .select.is-fullwidth {
    width: 100%;
  }
  
  .field.is-horizontal .field-body .select.is-fullwidth select {
    width: 100%;
  }
  
  .field.is-horizontal .field-body .textarea {
    width: 100%;
  }
  
  .field.is-horizontal .field-body .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .field.is-horizontal .field-body .checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .field.is-horizontal .field-body .button.is-primary {
    margin-left: 0;
  }
}

/* CSS responsive cho màn hình nhỏ hơn hoặc bằng 480px */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  
  .field.is-horizontal .field-body .field.is-narrow {
    margin-bottom: 5px;
  }
  .status{
    margin-top: -42px;
    color: white;
  }
}

.container-nav{
  background-color: #f2f2f2; 
  border-radius: 15px;
  border: 1.5px solid rgb(38, 158, 8);
  color: black;

}
.container-nav-home{
  background-color: #f2f2f2; 
  border-radius: 15px;
  border: 1.5px solid rgb(38, 158, 8);
  color: black;
  margin-right: 5px;
}
.container-nav-user {
  background-color: #f2f2f2; 
  border-radius: 15px;
  border: 1.5px solid rgb(38, 158, 8);
  color: black;
}
@media screen and (max-width: 480px) {
  .container-nav{
  background-color: #f2f2f2; 
  border-radius: 15px;
  border: 1.5px solid rgb(38, 158, 8);
  color: black;
}
.container-nav-home{
  background-color: #f2f2f2; 
  border-radius: 15px;
  border: 1.5px solid rgb(38, 158, 8);
  color: black;
}
}
@media screen and (max-width: 768px) {
  .container-nav{
    background-color: #f2f2f2;
    margin-top: 10px;
    width: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;     border: 1.5px solid rgb(38, 158, 8);
    color: black;
}
.container-nav-home{
  background-color: #f2f2f2;
    margin-top: 10px;
    width: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(38, 158, 8);
    color: black;
}
.container-nav-user{
  background-color: #f2f2f2;
    margin-top: 10px;
    width: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(38, 158, 8);
    color: black;
}
.fa-user{display: none;}
}
/* .carousel-inner .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
} */
.carousel-inner .carousel-item-detail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  /* .carousel-inner-list .carousel-item img {
  width: 150px; 
  height: 100px; 

} */
.carousel-inner-list .carousel-item-detail img {
  width: 150px; /* Kích thước chiều rộng mong muốn */
  height: 100px; /* Kích thước chiều cao mong muốn */
/* Giữ tỷ lệ khung hình và cắt bớt để lấp đầy khung */
}
}
@media screen and (max-width: 768px) {
  /* .carousel-inner .carousel-item img {
  width: 250px;
  height: 250px; 
  object-fit: none;
} */
.carousel-inner .carousel-item-detail img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
}
.box-info-text {
  height: 60px;
  width: 10vh;
  border-radius: 16px;
  text-align: center;
  color: white;
  background-color: blueviolet;
  box-shadow: 0 4px 8px rgba(247, 5, 219, 0.2);

}


.card-content-detail{border: 1.5px solid black;
  border-radius: 6px;
color: #020af8;}

.carousel-container {
  width: 500px; /* Kích thước chiều rộng mong muốn */
  height: 500px; /* Kích thước chiều cao mong muốn */
  /* Các thuộc tính CSS khác cho div */
  border: 1px solid black;
border-radius: 4px;
box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .box-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 100px;
}

  .card-content-detail {
    display: flex; /* Use flexbox to arrange content vertically */
    flex-direction: column; /* Arrange content in a column */
    padding: 10px; /* Adjust the spacing between elements on mobile devices */
    line-height: 30px; /* Adjust the line height of the content on mobile devices */
    color: #454739;

    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
  }
  
  .card-content {
    color: #283439;
    
  }

  .carousel-container {
  width: 360px; /* Kích thước chiều rộng mong muốn */
  height: 360px; /* Kích thước chiều cao mong muốn */
  /* Các thuộc tính CSS khác cho div */
  margin-bottom: 50px;
}
}
.box-info-text {
  width: 280px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-detail{margin-left: 20px;font-size: larger;align-content: center; }

.image-container-index {
  width: 100%; /* Set the width to 100% to match the card width */
  height: 300px; /* Set the desired height */
}

.image-container-index img {
  width: 100%;
  height:300px;
  object-fit: cover;
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  border-bottom:  0.5 solid black;
}



@media screen and (max-width: 768px) {
  .columns.is-multiline {
    flex-direction: column;
    align-items: center;
  }

  .column.is-one-quarter {
    width: 100%;
    max-width: 500px; /* Set the maximum width to 500px */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
  }



  .image-container-index {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Maintain a square aspect ratio */
    position: relative;
    border-bottom: 1px solid black;
  }

  .image-container-index img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content-index {
    flex-grow: 1; /* Allow the content to grow vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
   
  }
}
.card-container-index{
  border: 1px solid black;
}
.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(https://www.pngmagic.com/product_images/ecommerce-website-banner.jpg);
}

.box-register {
  width: 80%; /* Increase the width of the form */
  max-width: 600px; /* Set a maximum width to maintain readability */
}

@media screen and (max-width: 768px) {

  .box-register {
    width: 90%; /* Adjust the width for mobile devices */
  }
}


.new-nation-button {
  position: fixed;
margin-top: 10px;
  margin-left: 200px;
  margin-bottom: 800px;
}
.new-nation-button {
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  .new-nation-button {
    /* Mobile styles */
    position: static;
    margin-top: 10px;
    margin-bottom: 20px;
    
 
  }
}

.new-nation-button {
  text-decoration: none;
}
.btn-info {
  /* Web styles */
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* Mobile styles */
  .card-content-index {
    text-align: center;
    left: 0;
  }
  .card-content-index .media-content {
    margin-top: 10px;
    left: 0;
  }
 

}

@media screen and (max-width: 480px) {
  /* Additional mobile styles */
  .btn-info-responsive {
    width: 100%;
    color: yellow;
  }
  .img-fluid{
  width: 100%;
  height: 200px;
}
.fa-cogs{display: none;}

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.fixed-size-image {
  width: 100%;
  height: 250px; /* Adjust the height as needed */
  object-fit: cover;
}

.img-fluid{
  width: 500px;
  height: 500px;
}
.login-user:hover {
  color: green;
}
.login-user {
  color: rgb(0, 0, 0);
}
.carousel-item img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .carousel-item img {
    max-width: 50%;
  }



.carousel-item .text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; /* Số dòng tối đa hiển thị */
  line-height: 1.5; /* Độ cao dòng */
  max-height: 3em; /* Chiều cao tối đa cho nội dung */
}
}
  </style>
</head>
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
  <div class="container text-light">
      <div class="w-100 d-flex justify-content-between">
          <div>
              <i class="fa fa-envelope mx-2"></i>
              <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">VKBStore@company.com</a>
              <i class="fa fa-phone mx-2"></i>
              <a class="navbar-sm-brand text-light text-decoration-none" href="tel:0909013369">0909013369</a>
              <i class="fa-solid fa-location-dot"></i>
              <a class="navbar-sm-brand text-light text-decoration-none" 
              href="https://www.google.com/maps/place/387+Phan+V%C4%83n+Tr%E1%BB%8B,+Ph%C6%B0%E1%BB%9Dng+2,+Qu%E1%BA%ADn+5,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vietnam/@10.7550428,106.67446,17z/data=!3m1!4b1!4m6!3m5!1s0x31752f0285db606b:0xb301df0c8e47f2f0!8m2!3d10.7550375!4d106.6770349!16s%2Fg%2F11f_kp4ysl?entry=ttu">
              vkbstore</a>
          </div>
          <div>
              <a class="text-light" href="https://www.facebook.com/bi.asus.9" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
              <a class="text-light" href="#" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
              <a class="text-light" href="#" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
              <a class="text-light" href="#" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
          </div>
      </div>
  </div>
</nav>
  <div class="header-dark header-small">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container">
        <a class="navbar-brand" style="color: green; width: 70px; height: 70px; " href="/">
          <img src="https://res.cloudinary.com/drvrfmcji/image/upload/v1689326077/logo/z4515583223665_d617b71149b5a7c60c43193da4a53664_jlyvni.jpg" alt="VKBSTORE Logo">
        </a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon" style="background-color: #000000;" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" >
        
          <ul class="nav navbar-nav">
            <div class="container-nav-home">
              <li class="nav-item" role="presentation">
               <a class="nav-link" href="/">  <i class="fas fa-home"></i> Trang chủ</a>
              </li>
            </div>
          
              <% if(isLogin.name !== undefined) { %> <% if(isLogin.role === "admin") {
                %>
                <div class="container-nav">
            <li class="dropdown">
              <a
                class="dropdown-toggle nav-link dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
                href="#"
                ><i class="fas fa-cogs"></i>Chức năng
              </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" role="presentation" href="/users/dashboard"
                  >Dashboard</a
                ><a class="dropdown-item" role="presentation" href="/nations"
                  >Loại sản phẩm</a
                >
                <a class="dropdown-item" role="presentation" href="/players"
                  >Sản phẩm</a
                >
                <a class="dropdown-item" role="presentation" href="/accounts"
                >User</a
              >
              
              </div>
            </li>
            <% }} %>
            </div>
        
          </ul>
         
          <!-- <form class="form-inline mr-auto" target="_self">
            <div class="form-group">
              <label for="search-field"><i class="fa fa-search"></i></label
              ><input
                class="form-control search-field"
                type="search"
                name="search"
                id="search-field" />
            </div>
          </form> -->
            <div class="navbar-end">
            <% if(isLogin.name !== undefined) { %>
                <li class="dropdown">
                 <div
              class="navbar-item has-dropdown is-hoverable"
              style="margin-right: 35px">
              <!-- <a class="navbar-link">
                <i class="fa-solid fa-user" style="margin-right: 5px"></i>
                <%= isLogin.name %>
              </a> -->
              <div class="container-nav-user"> 
                <a
                class="dropdown-toggle nav-link dropdown-toggle text-white"
                data-toggle="dropdown"
                aria-expanded="false"
                href="/"
                style="color: #e9fa00;"
              >
                <i class="fa-solid fa-user" style="margin-right: 5px;color: black;"></i>
                <span class="login-user"><%= isLogin.name %></span>
                </a>
                <div class="dropdown-menu"  >
                    <a class="dropdown-item" href="/users/edit">
                      <i class="fa-sharp fa-regular fa-address-card fa-fw" style="margin-right: 5px;"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="/users/change-password">
                      <i class="fa-solid fa-key fa-fw" style="margin-right: 5px"></i>
                      Change password
                    </a>
                    <a class="dropdown-item" href="/users/logout">
                      <i class="fa-solid fa-arrow-right-from-bracket fa-fw" style="margin-right: 5px"></i>
                      Logout
                    </a>
                  </div>
                  
                </div>
           
            </div>
            <% } %> <% if(isLogin.name === undefined) { %>
            <div class="navbar-item" >
              <div class="buttons">
                <a class="bbtn btn-light action-button" href="/users/login" style="background-color: #cb2b2b; text-decoration: none;">
                  <strong>
                    <i class="fa-solid fa-right-to-bracket mr-2 "></i>Log in
                  </strong>
                </a>
              </div>
              
            </div>
              </div>
               <% } %>
         
            </div>
         
       
    </nav>

  </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
  var button = document.querySelector(".action-button"); // Chỉ định class của nút button

  button.addEventListener("click", function() {
    var header = document.querySelector(".header-dark"); // Chỉ định class của header
    header.classList.toggle("header-expanded");
  });
});

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/jquery-1.11.0.min.js"></script>
<script src="../../assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/templatemo.js"></script>
<script src="../../assets/js/custom.js"></script>


  