<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous" />
  <script
    type="text/javascript"
    charset="utf8"
    src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  <script
    src="https://kit.fontawesome.com/589ebc73ef.js"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"
    integrity="sha512-XSL8md+KzAg/ysd1EBcvzQx+8keNkzJ1pogDe+bJN9P5/RW+5c5v5d6Am++F6fmnt8wpD22fCaC/MP1M48hRtg=="
    crossorigin="anonymous"></script>
  <title>VKBSTORE</title>
  <link
    rel="icon"
    href="https://cdn-icons-png.flaticon.com/512/2292/2292038.png"
    type="image/x-icon" />

  <style>
    .header-dark {
      background: url('https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_960_720.jpg')
        #444;
      background-size: cover;
      padding-bottom: 80px;
    }

    @media (min-width: 768px) {
      .header-dark {
        padding-bottom: 120px;
      }
    }

    .header-dark .navbar {
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
      color: #fff;
      border-radius: 0;
      box-shadow: none;
      border: none;
    }

    @media (min-width: 768px) {
      .header-dark .navbar {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    }

    .header-dark .navbar .navbar-brand {
      font-weight: bold;
      color: inherit;
    }

    .header-dark .navbar .navbar-brand:hover {
      color: #f0f0f0;
    }

    .header-dark .navbar .navbar-collapse span {
      margin-top: 5px;
    }

    .header-dark .navbar .navbar-collapse span .login {
      color: #d9d9d9;
      margin-right: 0.5rem;
      text-decoration: none;
    }

    .header-dark .navbar .navbar-collapse span .login:hover {
      color: #fff;
    }

    .header-dark .navbar .navbar-toggler {
      border-color: #747474;
    }

    .header-dark .navbar .navbar-toggler:hover,
    .header-dark .navbar-toggler:focus {
      background: none;
    }

    .header-dark .navbar .navbar-toggler {
      color: #eee;
    }

    .header-dark .navbar .navbar-collapse,
    .header-dark .navbar .form-inline {
      border-color: #636363;
    }

    @media (min-width: 992px) {
      .header-dark .navbar.navbar .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }

    .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
      color: #d9d9d9;
    }

    .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus,
    .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
      color: #fcfeff !important;
      background-color: transparent;
    }

    .header-dark .navbar .navbar-nav > li > .dropdown-menu {
      margin-top: -5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 2px;
    }

    .header-dark .navbar .dropdown-menu .dropdown-item:focus,
    .header-dark .navbar .dropdown-menu .dropdown-item {
      line-height: 2;
      font-size: 14px;
      color: #37434d;
    }

    .header-dark .navbar .dropdown-menu .dropdown-item:focus,
    .header-dark .navbar .dropdown-menu .drodown-item:hover {
      background: #ebeff1;
    }

    .header-dark .navbar .action-button,
    .header-dark .navbar .action-button:active {
      background: #208f8f;
      border-radius: 20px;
      font-size: inherit;
      color: #fff;
      box-shadow: none;
      border: none;
      text-shadow: none;
      padding: 0.5rem 0.8rem;
      transition: background-color 0.25s;
    }

    .header-dark .navbar .action-button:hover {
      background: #269d9d;
    }

    .header-dark .navbar .form-inline label {
      color: #ccc;
    }

    .header-dark .navbar .form-inline .search-field {
      display: inline-block;
      width: 80%;
      background: none;
      border: none;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: #ccc;
      box-shadow: none;
      color: inherit;
      transition: border-bottom-color 0.3s;
    }

    .header-dark .navbar .form-inline .search-field:focus {
      border-bottom: 1px solid #ccc;
    }

    .header-dark .hero {
      margin-top: 60px;
    }

    @media (min-width: 768px) {
      .header-dark .hero {
        margin-top: 20px;
      }
    }

    .header-dark .hero h1 {
      color: #fff;
      font-family: 'Bitter', serif;
      font-size: 40px;
      margin-top: 20px;
      margin-bottom: 80px;
    }

    @media (min-width: 768px) {
      .header-dark .hero h1 {
        margin-bottom: 50px;
        line-height: 1.5;
      }
    }

    .header-dark .hero .embed-responsive iframe {
      background-color: #666;
    }
  </style>
</head>
<!-- <nav class="navbar" style="background-color: hsl(0, 0%, 96%); position: fixed; top:0; width: 99vw;" role="navigation"
 
 
    aria-label="main navigation"> -->

<div>
  <div class="header-dark">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container">
        <a class="navbar-brand" href="/">VKBSTORE</a
        ><button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav">
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="dropdown">
              <a
                class="dropdown-toggle nav-link dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
                href="#"
                >Dropdown
              </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" role="presentation" href="#"
                  >First Item</a
                ><a class="dropdown-item" role="presentation" href="#"
                  >Second Item</a
                ><a class="dropdown-item" role="presentation" href="#"
                  >Third Item</a
                >
              </div>
            </li>
          </ul>
          <form class="form-inline mr-auto" target="_self">
            <div class="form-group">
              <label for="search-field"><i class="fa fa-search"></i></label
              ><input
                class="form-control search-field"
                type="search"
                name="search"
                id="search-field" />
            </div>
          </form>
          <span class="navbar-text"><a href="#" class="login">Log In</a></span
          ><a class="btn btn-light action-button" role="button" href="#"
            >Sign Up</a
          >
        </div>
      </div>
    </nav>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<!-- <nav
  class="navbar"
  style="
    background-image: url('https://img.freepik.com/premium-photo/blue-sky-watercolor-effect-stains-paint-splatter-grunge-background-texture-soft-blue-pastel-website-banner-design_364465-1395.jpg');
    height: 10vh;
  "
  role="navigation"
  aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src="https://clipart-library.com/images/8i6oojBXT.png"
        width="100"
        height="152" />
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-start">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="btn btn-group-sm"
                href="/"
                style="color: rgb(239, 166, 39)">
                <strong>
                  <i class="fa-solid fa-house" style="margin-right: 5px"></i>
                  Trang Chủ
                </strong>
              </a>
            </div>
          </div>
        </div>
        <% if(isLogin.name !== undefined) { %> <% if(isLogin.role === "admin") {
        %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="btn btn-group-sm"
                href="/users/dashboard"
                style="color: rgb(239, 166, 39)">
                <strong>
                  <i class="fa-solid fa-house" style="margin-right: 5px"></i>
                  Dashboard
                </strong>
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="btn btn-group-sm"
                href="/players"
                style="color: rgb(239, 166, 39)">
                <strong>
                  <i
                    class="fa-sharp fa-solid fa-futbol"
                    style="margin-right: 5px"></i>
                  Sản Phẩm
                </strong>
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="btn btn-group-sm"
                href="/nations"
                style="color: rgb(239, 166, 39)">
                <strong>
                  <i
                    class="fa-sharp fa-solid fa-earth-asia"
                    style="margin-right: 5px"></i>
                  Loại
                </strong>
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="btn btn-group-sm"
                href="/accounts"
                style="color: rgb(239, 166, 39)">
                <strong>
                  <i
                    class="fa-sharp fa-solid fa-users"
                    style="margin-right: 5px"></i>

                  Users
                </strong>
              </a>
            </div>
          </div>
        </div>

        <% }} %>
      </div>
    </div>

    <div class="navbar-end">
      <% if(isLogin.name !== undefined) { %>
      <div
        class="navbar-item has-dropdown is-hoverable"
        style="margin-right: 35px">
        <a class="navbar-link">
          <i class="fa-solid fa-user" style="margin-right: 5px"></i>
          <%= isLogin.name %>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/users/edit">
            <i
              class="fa-sharp fa-regular fa-address-card"
              style="margin-right: 5px"></i>
            Profile
          </a>
          <a class="navbar-item" href="/users/change-password">
            <i class="fa-solid fa-key" style="margin-right: 5px"></i>
            Change password
          </a>
          <a class="navbar-item" href="/users/logout">
            <i
              class="fa-solid fa-arrow-right-from-bracket"
              style="margin-right: 5px"></i>
            Logout
          </a>
        </div>
      </div>
      <% } %> <% if(isLogin.name === undefined) { %>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/users/login">
            <strong>
              <i
                class="fa-solid fa-right-to-bracket"
                style="margin-right: 5px"></i
              >Log in</strong
            >
          </a>
        </div>
      </div>
        </div>
    <% } %>
  </div>
</nav> -->
